<div class="text-white blackolive p-2">
    <div class="row">
        <div class="col-md">
            <P><mat-icon> call</mat-icon> TELEF: 022647002</P>
            <P><mat-icon> mobile_screen_share</mat-icon> CEL: 0983856136</P>
            <P><mat-icon>public</mat-icon> WEB: www.enmantenimiento.com</P>
        </div>
        <div class="col-md">
            <p><mat-icon>people</mat-icon> FACEBOOK</p>
            <p><mat-icon>party_mode</mat-icon> INSTAGRAM</p>
            <p><mat-icon>label_important</mat-icon> TWITER</p>
        </div>
    </div>
</div>
