/* You can add global styles to this file, and also import other style files */
.blackolive{
    background-color: #393E41;
}
.lightgray{
    background-color: #D3D0CB;
}
body{
    background-color: #E7E5DF;
}
.verdigris{
    background-color: #44BBA4;
}
.meatbrown{
    color: #E7BB41;
}
img{
    width: 4em;
    height: 20em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
